<div class="jumbotron">
  <div class="container">
    <h1>My first RoR project</h1>
    <h3></h3>
  </div>
</div>

<div class="container">
  <h3>Developing Skills:</h3>
  Ruby, rails, jquery, javascript, html, css, bootstrap, git, github, heroku deployment
</div>