<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Dev Match</h1>
    <h3>A membership site where entrepreneurs can meet developers.</h3>
    <button type="button" class="btn btn-primary btn-lg">Learn more »</button>
  </div>
</div>